:root {
    --mainBGColor:#282828;
    --mainText:white;
    --headerColor:#3500D3;



}

html body{
    padding: 0;
    margin: 0;
}
/*main text color and main BGColor*/
body {
    color: var(--mainText);
    background-color: var(--mainBGColor);
    font-family: 'Times New Roman', Times, serif;
}
/*Header and nav styles*/
.header {
    padding:  20px 35px;
    background-color: var(--headerColor);
    display: flex;
    position: sticky;
    top: 0;
    
   
}

.header h1 {
    text-align: center;
}

.header h1 a {
    color:var(--mainText);
    font-family: 'Times New Roman', Times, serif;
}

.header li {
    padding: 10px;
    float: right;
    display:inline
}

nav ul li a {
    color: var(--mainText);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.main {
    text-align: center;
}

.content-wrapper {
    flex-wrap: wrap;
}

.thumbnail {
    padding: 50px;
    transition: transform .2s;
    width: 200px;
    height: 200px;
    margin: 0 auto;
  }
  
  .thumbnail:hover {
    transform: scale(1.5);
  }

@media screen and(max-width:1200px){
    .main{
        width: 1200px;
        margin: 0 auto;
    }
}